apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
      - secrets
      - configmaps
    providers:
      - aescbc:
          keys:
            - name: key1
              # See the following text for more details about the secret value
              secret: BVRe1KS9OPTiNjHK3xSq5FzztSdKSwAJXpAHzvDLrjc=
      - identity: {} # this fallback allows reading unencrypted secrets;
                     # for example, during initial migration